<a href="#!/addtask"> <button>Add Trip</button></a>

{{Trips.length!=0}}
<table ng-show="{{Trips.length!=0}}">
    <thead>
    <tr>
        <th>S.No</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th>Done</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="trip in Trips">
        <td><a href="#!/edittask/{{trip.id}}">{{$index+1}}</a></td>
        <td><a href="#!/edittask/{{trip.id}}">{{trip.from}}</a></td>
        <td><a href="#!/edittask/{{trip.id}}">{{trip.to}}</a></td>
        <td><a href="#!/edittask/{{trip.id}}">{{trip.date|date}}</a></td>
        <td><button ng-click="tripDone(trip)">Done</button></td>
    </tr>
</tbody>
</table>

<hr><hr><hr>


<table ng-show="{{DoneTrips.length!=0}}">
    <thead>
    <tr>
        <th>S.No</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
  
    </tr>
</thead>
<tbody>
    <tr ng-repeat="trip in DoneTrips">
        <td style="text-decoration: transparent">{{$index+1}}</td>
        <td style="text-decoration: transparent">{{trip.from}}</td>
        <td style="text-decoration: transparent">{{trip.to}}</td>
        <td style="text-decoration: transparent">{{trip.date|date}}</td>
    </tr>
</tbody>
</table>

